parameters:
    level: max
    paths:
        - src
        - tests
    bootstrapFiles:
        - vendor/autoload.php
    checkExplicitMixed: true
    checkUnionTypes: true
    checkMissingVarTagTypehint: true
